{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h1>
      We're Getting Married!
    </h1>
    <p>
      We put this site together to help you get ready for our big day! There's lots of information here, so please spend some time looking around. If you'd like to get a hold of us, please <a href="mailto:wedding@rabinovitch.ca" target="_blank">send us an email</a>.
    </p>

    <p>
      We're still working on the site, so some of the pages don't exist yet. Please come back soon because we're going to be updating a lot over the next little while as plans form!
    </p>
  </div>
</div>
{% endblock %}
