{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<img
  class="image-responsive"
  src="{% static 'rsvp/banner_rsvp.jpg' %}"
  alt="wedding banner"
  style="width:100%;"
>
{% endblock %}

{% block nav_active_rsvp %}active{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h1>
      R&eacute;pondez S'il Vous Pla&icirc;t
    </h1>

    <p>
      Along with our parents, we sincerly hope that you will join us on August 29th, 2015 at the <a href="https://www.vancouverrowingclub.ca/" target="_blank">Vancouver Rowing Club</a> in Vancouver, British Columbia.
    </p>
    <p>
      Please be sure that the boxes are checked for events that you will be attending and click on "Submit Response" when you are done.
    </p>

    <form
      class="form-horizontal"
      action="{% url 'rsvp_detail' guest_group.code.lower %}"
      method="post"
      >
      {% csrf_token %}
      {% if error %}
      <div class="alert alert-warning">
        {{ error }}
      </div>
      {% endif %}

      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            {% for event in events %}
            <th>
              {{ event.name }}<br>{{ event.datetime_start | date:'f a' }}
            </th>
            {% endfor %}
            <th>Dietary Preference</th>
          </tr>
        </thead>
        <tbody>
          {% for guest in guest_group.guest_set.all %}
          <tr>
            <td>{{ guest.name }}</td>
            {% for attendance in guest.attendance_set.all %}
            <td>
              <p class="text-center">
                <input
                 name="attendance_{{ attendance.id }}"
                 type="checkbox"
                 {% if attendance.attending %}checked="checked"{% endif %}
                 >
              </p>
            </td>
            {% endfor %}
            <td>
              <p class="text-center">
                <select name="guest_{{ guest.id }}_diet">
                  {% for value, display in diet_choices %}
                  <option value="{{ value }}"{% if guest.diet == value %} selected="selected"{% endif %}>
                  {{ display }}
                  </option>
                  {% endfor %}
                </select>
              </p>
            </td>
          </tr>
          {% endfor %}
      </table>

      {% for event in events %}
      {% if event.description != ' ' %}
      <p>{{ event.name }} - {{ event.description }}</p>
      {% endif %}
      {% endfor %}

      <div>
        <button
          class="btn btn-default btn-lg pull-right"
          type="submit"
          >
          Submit Response
        </button>
      </div>

    </form>

    <div class="clearfix">&nbsp;</div>

    <p>
      If you would like to get in touch with us, please <a href="mailto:wedding@rabinovitch.ca" target="_blank">send us an email</a>.
    </p>
  </div>
</div>
{% endblock %}
