{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<img
  class="image-responsive"
  src="{% static 'rsvp/banner_rsvp.jpg' %}"
  alt="wedding banner"
  style="width:100%;"
>
{% endblock %}

{% block nav_active_rsvp %}active{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h1>
      R&eacute;pondez S'il Vous Pla&icirc;t
    </h1>
    <form
      class="form-horizontal"
      action="{% url 'rsvp_detail' guest_group.code.lower %}"
      method="post"
      >
      {% csrf_token %}
      {% if error %}
      <div class="alert alert-warning">
        {{ error }}
      </div>
      {% endif %}

      <table class="table table-hover">
        <thead>
          {% for guest in guest_group.guest_set.all %}
          {% if forloop.first %}
          <tr>
            <th></th>
            {% for event in guest.events.all %}
            <th>
              {{ event.name }} ~ {{ event.datetime_start | date:'f a' }}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% endif %}
          <tr>
            <td>{{ guest.name }}</td>
            {% for attendance in guest.attendance_set.all %}
            <td>
              <input
                name="attendance_{{ attendance.id }}"
                type="checkbox"
                {% if attendance.attending %}checked="checked"{% endif %}
                >
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
      </table>

      <div>
        <button
          class="btn btn-default btn-lg pull-right"
          type="submit"
          >
          Submit Response
        </button>
      </div>

    </form>
  </div>
</div>
{% endblock %}
