{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<img
  class="image-responsive"
  src="{% static 'rsvp/banner_rsvp.jpg' %}"
  alt="wedding banner"
  style="width:100%;"
>
{% endblock %}

{% block nav_active_rsvp %}active{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h1>
      R&eacute;pondez S'il Vous Pla&icirc;t
    </h1>
    <form
      class="form-horizontal"
      action="{% url 'rsvp' %}"
      method="post"
      >
      {% csrf_token %}
      <div class="form-group">
        <label class="col-sm-4 control-label" for="">Invite Word</label>
        <div class="col-sm-5">
          <div class="input-group">
            <input
            class="form-control input-lg"
            id="invite_word"
            name="invite_word"
            placeholder="Border Collie"
            >
            <span class="input-group-btn">
              <button
                class="btn btn-default btn-lg"
                type="submit"
                >
                Next
              </button>
            </span>
          </div>
        </div>
      </div>
      {% if error %}
      <div class="alert alert-warning">
        {{ error }}
      </div>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}
