{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Jenn &amp; Ben's Wedding{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="{% static 'base/styles.css' %}"></link>
  </head>
  <body>
    <div id="header">
      {% block header %}
      <img
        class="image-responsive"
        src="{% static 'base/banner1.jpg' %}"
        alt="wedding banner"
        style="width:100%;"
        >
      {% endblock %}
    </div>
    <div id="navigation">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar-collapse-1"
              >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Jenn &amp; Ben</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="{% block nav_active_the_day %}{% endblock %}">
                <a href="/the-day">The Day</a>
              </li>
              <li class="{% block nav_active_travel %}{% endblock %}">
                <a href="/travel">Travel</a>
              </li>
              <li class="{% block nav_active_people %}{% endblock %}">
                <a href="/">People</a>
              </li>
              <li class="{% block nav_active_rsvp %}{% endblock %}">
                <a href="/">Attendance</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <div id="content">{% block content %}content{% endblock %}</div>
      {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      {% endblock %}
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      <div class="row">
        <div class="col-xs-12">
          <p>
            <small>
              &copy; <a href="mailto:ben@rabinovitch.ca">Ben Rabinovitch</a> 2015
            </small>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
